﻿@model IEnumerable<CarHire.Domain.Entities.Car>

@{
    ViewBag.Title = "Holder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3>Samochody</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Nr.</th>
                <th class="text-center">Model</th>
                <th class="text-center">Marka</th>
                <th class="text-center">Akcje</th>
            </tr>
            @{
                int x = 1;
            }
            @foreach (var item in Model)
            {

                <tr>
                    <td class="text-center">@x</td>
                    @{ 
                        x++;
                    }
                    <td class="text-center">@item.Brand</td>
                    <td class="text-center">@item.Model</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Car"))
                        {
                            @Html.Hidden("CarID", item.CarID)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Usuń" /> 
                        }
                        @using (Html.BeginForm("Edit", "Car"))
                        {
                            @Html.ActionLink("Edycja", "Edit", new { carId = item.CarID }, new { @class = "btn btn-default btn-xs" })

                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Dodaj auto", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>