﻿@model CarHire.WebUI.Models.CarSearch

@{
    ViewBag.Title = "Search";
}

<h2>Wyszukiwanie zaawansowane</h2><br />

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div><b>Model</b></div>
            <div>
                <input type="text" name="NameSearch" value=@Model.NameSearch>
            </div>
            <div><b>Marka</b></div>
            <div>
                <input type="text" name="BrandSearch" value=@Model.BrandSearch>
            </div>
            <div><b>Cena (zł/dzień)</b></div>
            <div>
                Od: <input type="number" name="MinPrice" value=@if (Model.MinPrice!= 0) {@Model.MinPrice}>
                Do: <input type="number" name="MaxPrice" value=@if (Model.MaxPrice != decimal.MaxValue) {@Model.MaxPrice}>
            </div>
            <div><b>Rok Produkcji</b></div>
            <div>
                Od: <input type="number" name="MinYear" value=@if (Model.MinYear != 0) {@Model.MinYear}>
                Do: <input type="number" name="MaxYear" value=@if (Model.MaxYear != int.MaxValue) {@Model.MaxYear}>
            </div>
            <div><b>Przebieg (km)</b></div>
            <div>
                Od: <input type="number" name="MinMileage" value=@if (Model.MinMileage != 0) {@Model.MinMileage}>
                Do: <input type="number" name="MaxMileage" value=@if (Model.MaxMileage != decimal.MaxValue) {@Model.MaxMileage}>
            </div>
            <div><b>Pojemność (l)</b></div>
            <div>
                Od: <input type="number" step="0.1" name="MinCapacity" value=@if (Model.MinCapacity != 0) {@Model.MinCapacity}>
                Do: <input type="number" step="0.1" name="MaxCapacity" value=@if (Model.MaxCapacity != decimal.MaxValue) {@Model.MaxCapacity}>
            </div>
            <div><b>Kategoria</b></div>
            <div>
                <select name="Category">
                    <option value=""></option>
                    <option value="A1"  @if (Model.Category == "A1") { <text>selected</text>}>A1</option>
                    <option value="A2" @if (Model.Category == "A2") { <text>selected</text>}>A2</option>
                    <option value="A" @if (Model.Category == "A") { <text>selected</text>}>A</option>
                    <option value="B" @if (Model.Category == "B") { <text>selected</text>}>B</option>
                    <option value="B+E" @if (Model.Category == "B+E") { <text>selected</text>}>B+E</option>
                    <option value="B1" @if (Model.Category == "B1") { <text>selected</text>}>B1</option>
                    <option value="C" @if (Model.Category == "C") { <text>selected</text>}>C</option>
                </select>
            </div>
            <div><b>Szukaj tylko</b></div>
            <div>
                <input type="radio" name="Hired" value="true" @if (Model.Hired == "true") { <text>checked</text>}>Dostepnych<br>
                <input type="radio" name="Hired" value="false" @if (Model.Hired == "false") { <text>checked</text>}>Wypożyczonych<br>
            </div>
            <input type="submit" value="Szukaj" />
        </div>
        <div class="col-md-4">
            <h3>Sortowanie</h3>
            <b>Sortuj według:</b> <br/>
            <select name="Sort">
                <option value=""></option>
                <option value="ModelUp" @if (Model.Sort == "ModelUp") { <text> selected</text>}>Model - Rosnąco</option>
                <option value="ModelDown" @if (Model.Sort == "ModelDown") { <text> selected</text>}>Model - Malejąco</option>
                <option value="BrandUp" @if (Model.Sort == "BrandUp") { <text> selected</text>}>Marka - Rosnąco</option>
                <option value="BrandDown" @if (Model.Sort == "BrandDown") { <text> selected</text>}>Marka - Malejąco</option>
                <option value="PriceUp" @if (Model.Sort == "PricUp") { <text> selected</text>}>Cena - Rosnąco</option>
                <option value="PriceDown" @if (Model.Sort == "PriceDown") { <text> selected</text>}>Cena - Malejąco</option>
                <option value="YearUp" @if (Model.Sort == "YearUp") { <text> selected</text>}>Rok produkcji - Rosnąco</option>
                <option value="YearDown" @if (Model.Sort == "YearDown") { <text> selected</text>}>Rok produkcji - Malejąco</option>
                <option value="MileageUp" @if (Model.Sort == "MileageUp") { <text> selected</text>}>Przebieg - Rosnąco</option>
                <option value="MileageDown" @if (Model.Sort == "MileageDown") { <text> selected</text>}>Przebieg - Malejąco</option>
                <option value="CapacityUp" @if (Model.Sort == "MileageUp") { <text> selected</text>}>Pojemność - Rosnąco</option>
                <option value="CapacityDown" @if (Model.Sort == "MileageDown") { <text> selected</text>}>Pojemność - Malejąco</option>
            </select>
        </div>
    </div>
}

<div>
    <br /><br/>@Html.ActionLink("Anuluj i wróć do listy", "List")
</div>