﻿@model CarHire.Domain.Entities.Rental

@{
    ViewBag.Title = "Wypożyczenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Wypożyczenie:</h3>
    </div>
    @using (Html.BeginForm("Edit", "Rental"))
    {
      
        @Html.EditorFor(m => m.CarId);
        @Html.EditorFor(m => m.UserId);
        <div>
            <p><label>Data wypożyczenia:</label></p>
            @Html.EditorFor(m => m.RentalDate)
        </div>
        <p></p>
            <div>
                    <p><label>Data oddania:</label></p>
                @Html.EditorFor(m => m.ReturnDate)
</div>
             <div class="panel-footer">
                <input type="submit" value="Zapisz" class="btn btn-primary">
                @Html.ActionLink("Anuluj", "Index", "Home", null, new
       {
           @class = "btn btn-default"
       })
            </div>
            }
        </div>