﻿@model  IEnumerable<CarHire.WebUI.Models.RentalViewAggregator>

@{
    ViewBag.Title = "ReturnList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading">
    <h3>Wypożyczenia gotowe do oddania</h3>
</div>
<div class="panel-body">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th class="text-center">Nr.</th>
            <th class="text-center">Kto wypożyczał</th>
            <th class="text-center">wypożyczone auto</th>
            <th class="text-center">Data wypożyczenia</th>
            <th class="text-center">Data Zwrotu</th>
            <th class="text-center">Akcje</th>

        </tr>
        @{
            int x = 1;
        }
        @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">@x</td>
                @{
                    x++;
                }

                <td class="text-center">@item.User.Name @item.User.Surname</td>
                <td class="text-center">@item.Car.Brand @item.Car.Model</td>
                <td class="text-center">@item.Rental.RentalDate.ToString("d")</td>
                <td class="text-center">@item.Rental.ReturnDate.ToString("d")</td>

                <td class="text-center">
                    @using (Html.BeginForm("ReturnCar", "Rental"))
                    {
                        @Html.ActionLink("Oddaj auto", "ReturnCar", item.Rental, new { @class = "btn btn-default btn-xs" })
                    }

                </td>
            </tr>
                    }
    </table>
</div>