﻿@if (Session["Category"] == null)
{
    <nav>
        <div class="dropdown">
            <button class="btn" data-toggle="dropdown"> drop </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Strona główna", "Index", "Home", null)</li>
                <li> @Html.ActionLink("Wypożycz", "List", "Car", null)</li>
            </ul>
        </div>
    </nav>
}
else if (Session["Category"].Equals("Kierownik"))
{
    int x = Int32.Parse(Session["LogedUserID"].ToString());
    @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożycz", "List", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Samochody", "Holder", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wnioski", "ActionList", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Oddaj auto", "ReturnList", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożyczenia firmy", "Index", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Użytkownicy", "Holder", "Users", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Dodaj pracownika", "SignIn", "Users", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Edycja Danych", "Edit", "Users", new { userId = x }, new { @class = "btn btn-block btn-default btn-lg" })
}
else if (Session["Category"].Equals("Pracownik"))
{
    int x = Int32.Parse(Session["LogedUserID"].ToString());
    @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożycz", "List", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wnioski", "ActionList", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Oddaj auto", "ReturnList", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Edycja Danych", "Edit", "Users", new { userId = x }, new { @class = "btn btn-block btn-default btn-lg" })

}
else if (Session["Category"].Equals("Klient"))
{
    int x = Int32.Parse(Session["LogedUserID"].ToString());
    @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożycz", "List", "Car", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Wypożyczenia", "Index", "Rental", null, new { @class = "btn btn-block btn-default btn-lg" })
    @Html.ActionLink("Edycja Danych", "Edit", "Users", new { userId = x }, new { @class = "btn btn-block btn-default btn-lg" })
}

