﻿@model IEnumerable<CarHire.Domain.Entities.User>

@{
    ViewBag.Title = "Holder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3>Użytkownicy</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Nr.</th>
                <th class="text-center">Imie</th>
                <th class="text-center">Nazwisko</th>
                <th class="text-center">Kategoria</th>
                <th class="text-center">Akcje</th>
            </tr>
            @{ 
                int x = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@x</td>
                    @{
                            x++;  
                    }
                    <td class="text-center">@item.Name</td>
                    <td class="text-center">@item.Surname</td>
                    <td class="text-center">@item.Category</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Users"))
                        {
                            @Html.Hidden("UserID",item.UserID)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Usuń" />
                        }
                        @using (Html.BeginForm("Edit", "Users"))
                        {
                            @Html.ActionLink("Edycja", "Edit", new { userId = item.UserID }, new { @class = "btn btn-default btn-xs" })

                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Dodaj użytkownika", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>

