﻿@model CarHire.Domain.Entities.User

@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div>

    @using (Html.BeginForm("New", "Users"))
    {

        @Html.ValidationSummary()
        <div class="form-group">
            <label>Nazwa użytkownika:</label><p></p>
            @Html.EditorFor(x => x.Username)
        </div>
        <div class="form-group">
            <label>Hasło:</label><p></p>
            @Html.EditorFor(x => x.Password)
        </div>
        <div class="form-group">
            <label>Imię:</label><p></p>
            @Html.EditorFor(x => x.Name)
        </div>
        <div class="form-group">
            <label>Nazwisko:</label><p></p>
            @Html.EditorFor(x => x.Surname)
        </div>
        <div class="form-group">
            <label>E-mail:</label><p></p>
            @Html.EditorFor(x => x.Mail)
        </div>
                <div class="form-group">
                    <label>Telefon:</label><p></p>
                    @Html.EditorFor(x => x.Phone)
                </div>

                <div class="form-group">
                    <label>Adres zamieszkania:</label><p></p>
                    @Html.EditorFor(x => x.Adress)
                </div>

                <div class="form-group">
                    <label>Nr. Pesel:</label><p></p>
                    @Html.EditorFor(x => x.Pesel)
                </div>
               

    <div class="panel-footer">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
        @Html.ActionLink("Anuluj i wróć do listy", "Index", null, new
       {
           @class = "btn btn-default"
       })
    </div>
}
</div>