﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title>@ViewBag.Title</title>
    <style>
        .navbar-right{
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="~/">
        <span class="hidden-xs">Wypożyczalnia samochodowa</span>
        <div class="visible-xs">Wypożyczalnia</div>
        <div class="visible-xs">samochodowa</div>
        </a>
          @if (Session["LogedUserID"] != null)
        {
            @Html.ActionLink("Wyloguj", "Logout", "Home", null, new { @class = "pull-right label label-danger" })
        }
        else {
        @Html.ActionLink("Rejestracja", "SignIn", "Users", null, new { @class = "pull-right label label-info" })
        @Html.ActionLink("Logowanie", "Login", "Home", null, new { @class = "pull-right label label-success" })
        }
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @Html.Action("Menu","Nav")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>
